# please add conda-forge to your channels
# conda config --add channels confa-forge

# install these through conda:
# conda install python=3.13.5
# conda install numpy
# conda install pyfmi=2.17.2
# conda install assimulo

# it's one or the other, currently I'm not sure which one we want to use for finding step_size
eppy==0.5.63
FMPy==0.3.25
matplotlib==3.10.3
pandas
requests